@theme {
  /*Primary Color */
  --color-primary-50:  #ECF1FB;
  --color-primary-100: #E1E9F9;
  --color-primary-200: #D5E1F8;
  --color-primary-300: #C8D8F7;
  --color-primary-400: #B7CBF1;
  --color-primary-500: #9DB5E7; 
  --color-primary-600: #0353a4;
  --color-primary-700: #4E6491;
  --color-primary-800: #283754;
  --color-primary-900: #14213D;
  --color-primary-950: #172441;

  /*Neutral Colors */
  --color-neutral-50:  #f8fafc;
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2e8f0;
  --color-neutral-300: #cbd5e1;
  --color-neutral-400: #94a3b8;
  --color-neutral-500: #64748b;
  --color-neutral-600: #475569;
  --color-neutral-700: #334155;
  --color-neutral-800: #1e293b;
  --color-neutral-900: #0f172a;
  --color-neutral-950: #020617;

  /* Feedback Colors */
  --color-success: #06C94F;
  --color-success-light: #dcfce7;
  --color-success-dark: #16a34a;
  
  --color-warning: #f59e0b;
  --color-warning-light: #fef3c7;
  --color-warning-dark: #d97706;
  
  --color-error: #ef4444;
  --color-error-light: #fee2e2;
  --color-error-dark: #dc2626;
  
  --color-info: #3b82f6;
  --color-info-light: #dbeafe;
  --color-info-dark: #2563eb;

  /* Secondary Colors */
  --color-secondary-50:  #faf5ff;
  --color-secondary-100: #f3e8ff;
  --color-secondary-200: #e9d5ff;
  --color-secondary-300: #d8b4fe;
  --color-secondary-400: #c084fc;
  --color-secondary-500: #a855f7;
  --color-secondary-600: #9333ea;
  --color-secondary-700: #7e22ce;
  --color-secondary-800: #6b21a8;
  --color-secondary-900: #581c87;
  --color-secondary-950: #3b0764;

  /* Tertiary Colors */
  --color-tertiary-50:  #ecfdf5;
  --color-tertiary-100: #d1fae5;
  --color-tertiary-200: #a7f3d0;
  --color-tertiary-300: #6ee7b7;
  --color-tertiary-400: #34d399;
  --color-tertiary-500: #10b981;
  --color-tertiary-600: #059669;
  --color-tertiary-700: #047857;
  --color-tertiary-800: #065f46;
  --color-tertiary-900: #064e3b;
  --color-tertiary-950: #022c22;

  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 2000px;

  /* Font Families */
  --font-family-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: var(--font-geist-mono), ui-monospace, monospace;
}
